@import "variable";
@import "mixin";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	margin-bottom: size(16);
}
/*Headings*/


h1, .h1{
	font-family: $font-family-base; 
	font-weight: $font-semibold;
	font-size:size(60); 
	line-height:size(71);
	color:$dark;
	@include media(down, $breakpoint-md) {
		font-size:size(32); 
		line-height:size(48);
	}
}
h2, .h2 { 
	font-family: $font-family-base;
	font-weight: $font-bold;
	font-size:size(50); 
	line-height:size(58);
	letter-spacing: 1.6px;
	margin-bottom: size(30);
	@include media(down, $breakpoint-md) {
        font-size: size(28);
        line-height: size(44);
    }
}
h3, .h3 { 
	font-family: $font-family-base;
	font-weight: $font-semibold;
	font-size:size(40); 
	line-height:size(48);
	color:$dark;
	margin-bottom: size(20);
	@include media(down, $breakpoint-md) {
		font-size:size(24); 
		line-height:size(42);
	}
}
h4, .h4 { 
	font-family: $font-family-base;
	font-weight: $font-semibold;
	font-size:size(30); 
	line-height:size(38);
	color:$dark;
	text-transform: capitalize;
	@include media(down, $breakpoint-md) {
		font-size:size(20); 
		line-height:size(30);
	}
}
h5, .h5 { 
	font-family: $font-family-base;
	font-weight: $font-semibold;
	font-size:size(28); 
	line-height:size(38);
	color:$dark;
	@include media(down, $breakpoint-xl) {
		font-size:size(18); 
		line-height:size(28);
	}
}
h6, .h6 { 
	font-family: $font-family-base;
	font-weight: $font-medium;
	font-size:size(20); 
	line-height:size(28);
	color:$dark;
	@include media(down, $breakpoint-xl) {
		font-size: size(16);
		line-height: size(26);
	}
}

p{
	font-family: $font-family-base;
	font-weight: $font-regular;
	font-size: size(16);
	line-height: size(26);
	color: $dark-gray;
	@include media(down, $breakpoint-md) {
		font-size: size(14);
		line-height: size(24);
	}
}

a {
	text-decoration: none;
	@include Transition(all 0.3s ease-in-out);
    &:hover {
        text-decoration: none;
        color: $red;
        outline: none;
    }
}

ul, li {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	// @include media(down, $breakpoint-xxl) {
	// 	font-size: size(14);
	// 	line-height: size(33);
	//   }
}