/* =========== IMAGE PATH VARIABLE ============= */
$assetPath : "../../assets/images";
/* Usage of bacground image */
//background: url(#{$assetPath}/background.jpg) repeat-x fixed 0 0;

// Color system
$primary: 	#1a8cc9;
$white:    	#ffffff;
$black:	    #091B22;	
$gray:      #B5BBBD;
$dark-gray: #6B767A;
$light-gray:#E6E8E9;
$white-2:   #9DA4A7;
$white-3:   #535F64;
$white-4:   #223238;
$border-color: #E6E8E9;
$primary-hover: #F3262C;
$light-yellow: #FFF4D2;




// Font
$font-family-base:'Noto Sans Display', sans-serif,'Noto Serif', serif;
$font-size-base: 1rem; // Assumes the browser default, typically `16px` 
$font-custom:16;
$font-light: 300;
$font-regular:400;
$font-medium:500;
$font-semibold: 600;
$font-bold: 700;
$line-height-base: 1.25;

/*Paragraph Element */
$paragraph-margin-bottom: 1rem;

// Media BreakPoint
$breakpoint-xxl: 1440px;   // laptop , desktop
$breakpoint-xl: 1200px;   // iPad landscape 
$breakpoint-lg: 992px;    // iPad potrate
$breakpoint-md: 768px;     // mobile 
$breakpoint-sm: 576px;  
$breakpoint-xs: 414px;

// Components
// Define common border radius sizes and more.
$border-radius: 0.25rem; // 4px
$border-radius-6:0.375rem; // 6px
$border-radius-12:0.75rem; // 12px
$border-radius-16:1rem; // 16px
$border-radius-24:1.5rem; // 24px
$border-radius-32:2rem; // 32px
$border-radius-60 :3.75rem; // 60px
$border-radius-100 :6.25rem; // 60px
$rounded-pill: 100%;

$box-shadow-sm:0 .125rem .25rem rgba($black, .075);
$box-shadow:0 .5rem 1rem rgba($black, .15);
$box-shadow-lg:0 1rem 3rem rgba($black, .175);
$box-shadow-0:none;

// Spacing
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
  ),
  $spacers
);

