.contact-us-section {
  .contact-form-info {
    .parallax {
      background-image: url('/assets/images/ppre-wed-img.jpg');
      height: 700px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .form-main {
        background: linear-gradient(to bottom, #00000024, #00000024);
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .main-wrapper {
          margin: size(40) 0;
          padding: 45px;
          width: 40%;
          border-radius: size(5);
          box-shadow: 0 0 5px 5px #00000020;
          backdrop-filter: blur(5px);
          background-color: #ffffff85;
    
          @media screen and (max-width: 991px) {
            width: 70%;
          }
    
          @media screen and (max-width: 767px) {
            width: 90%;
          }
    
          .form-head {
            font-size: 30px;
            line-height: 40px;
            font-weight: 600;
            text-align: center;
            margin: 0px 0 25px;
          }
    
          .form-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 15px;
    
            .form-card {
              position: relative;
              width: 100%;
    
              .form-input {
                padding: 20px 25px 15px;
                width: 100%;
                border: 1px solid black;
                background: transparent;
                outline: none;
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                box-sizing: border-box;
    
                &:valid,
                &:focus {
                  border: 1px solid gray;
                }
    
                &:valid~.form-label,
                &:focus~.form-label {
                  color: gray;
                  top: 30%;
                  transform: translateY(-70%);
                  font-size: 13px;
                  line-height: 23px;
                }
    
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active {
                  transition: background-color 9999s ease-in-out 0s;
                }
    
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }
              .form-label {
                position: absolute;
                left: 25px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
                transition: 0.3s;
                margin: 0;
                font-size: 18px;
                line-height: 28px;
                font-weight: 500;
              }
              .form-textarea {
                padding: 20px 25px 15px;
                width: 100%;
                height: size(150);
                border: 1px solid black;
                background: transparent;
                outline: none;
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                resize: none;
                box-sizing: border-box;
                &:valid,
                &:focus {
                  border: 1px solid gray;
                }
                &:valid~.form-textarea-label,
                &:focus~.form-textarea-label {
                  color: gray;
                  top: 18%;
                  transform: translateY(-82%);
                  font-size: 13px;
                  line-height: 23px;
                }
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active {
                  transition: background-color 9999s ease-in-out 0s;
                }
              }
              .form-textarea-label {
                position: absolute;
                left: 25px;
                top: 30%;
                transform: translateY(-70%);
                pointer-events: none;
                transition: 0.3s;
                margin: 0;
                font-size: 18px;
                line-height: 28px;
                font-weight: 500;
              }
            }
          }
        }
      }
      .button-box{
        margin-top: size(20);
        .view-more:after {
          content: "";
          position: absolute;
          border: 1px solid black;
          
        }
      }
      
    }
  }
}


